{% comment %}
Astronomy workshops
{% endcomment %}


{% if site.curriculum == "dc-astronomy" %}

<p>
  The setup instructions for the Data Carpentry Astronomy workshops
  can be found at <a href="https://datacarpentry.org/astronomy-python/index.html#setup">
    the curriculum site</a>.
</p>

{% comment %}
Ecology workshops
{% endcomment %}


{% elsif site.curriculum == "dc-ecology" %}

{% if site.flavor == "r" %}
<p>
  The setup instructions for the Data Carpentry Ecology workshops (with R)
  can be found at <a href="https://datacarpentry.org/ecology-workshop/setup-r-workshop.html">
    the workshop overview site</a>.
</p>

{% elsif site.flavor == "python" %}
<p>
  The setup instructions for the Data Carpentry Ecology workshops (with Python)
  can be found at <a href="https://datacarpentry.org/ecology-workshop/setup-python-workshop.html">
    the workshop overview site</a>.
</p>
{% else %}
{% include warning-flavor.html %}
{% endif %}

{% comment %}
Genomics workshops
{% endcomment %}

{% elsif site.curriculum == "dc-genomics" %}
<p>The setup instructions for the Data Carpentry Genomics workshops can be found at <a href="https://datacarpentry.org/genomics-workshop/index.html#setup">the workshop overview site</a>.
In this workshop, we will run commands and programs on local machines, hence falling within <a href="https://datacarpentry.org/genomics-workshop/index.html#option-b-using-the-lessons-on-your-local-machine">"Option B"</a> of the setup instructions.</p>

<p>All participants are expected to have installed the software described in the above-mentioned setup instructions <em>before</em> joining the workshop.
If you have trouble installing the software on your machine, please get in touch with the instructors by e-mail or come 30 minutes earlier on the first day of the workshop.
</p>

<p>Below, we provide additional useful details about the setup.</p>

<p>The programs which will be used during this workshop are easier to install and use on Linux or macOS.
As a consequence, if using a Mac or Linux machine is not possible, we advise Windows users to install and use the <a href="https://learn.microsoft.com/en-us/windows/wsl/install">Windows Subsystem for Linux (WSL)</a>.

<p>In order to use some programs, it is necessery to have <a href=https://www.java.com/en/download/manual.jsp>Java</a> installed.</p>

<p>Please note that the installation instructions for macOS are meant for Macs with an Intel chip.
For participants having a Mac with an Apple chip, <emph>x86_64</emph> should be replaced by <emph>arm64</emph> in the commands used to install Conda.
In addition, when installing software with Conda, the software versions used in the installation instructions are not all available for Apple chips.
If the version indicated is not available for your machine, you can install any newer version of the program.
</p>

{% comment %}
Geospatial workshops
{% endcomment %}

{% elsif site.curriculum == "dc-geospatial" %}
<p>The setup instructions for the Data Carpentry Geospatial workshop can be found at <a href="https://datacarpentry.org/geospatial-workshop/index.html#setup">the workshop overview site</a>.</p>

{% comment %}
Image workshops
{% endcomment %}

{% elsif site.curriculum == "dc-image" %}

<p>The setup instructions for Data Carpentry Image Processing workshops can be found at <a href="https://datacarpentry.org/image-processing/index.html#setup">the curriculum site</a>.</p>

{% comment %}
Social sciences workshops
{% endcomment %}

{% elsif site.curriculum == "dc-socsci" %}

{% if site.flavor == "r" %}
<p>
  The setup instructions for the Data Carpentry Social Sciences
  workshops (with R) can be found at <a href="https://datacarpentry.org/socialsci-workshop/setup-r-workshop.html">
    the workshop overview site</a>.
</p>

{% elsif site.flavor == "python" %}
<p>
  The setup instructions for the Data Carpentry Social Sciences workshops (with Python)
  can be found at <a href="https://datacarpentry.org/socialsci-workshop/setup-python-workshop.html">
    the workshop overview site</a>.
</p>
{% else %}
{% include warning-flavor.html %}
{% endif %}

{% else %}
{% include warning-curriculum.html %}
{% endif %}
